<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:p="http://primefaces.org/ui">

<!-- The f:view element is required to get certain components to work with webkit based browsers
(Google Chrome and Safari) -->
<f:view contentType="text/html">

<h:head>
<!-- Change the title of this document!!! -->
<title>BMI Calculator</title>
<!-- Add support for <meta>, <link>, and <scripts> here -->

</h:head>

<h:body>
<!-- Add your content here -->
<h2>BMI Calculator</h2>
    <p>
       Make yourself feel bad.
    </p>
    <h:form id="bmiForm">
       <p:messages id="messages"></p:messages> 
       <p:growl id="growl"></p:growl>
       <h:panelGrid columns="2">
           <h:outputLabel for="weight" value="Your Weight(in pounds): "></h:outputLabel>
           <p:inputText value="#{bmiBean.bmi.weight}" id="weight" required="true" requiredMessage="Please enter your weight."></p:inputText>
           <h:outputLabel for="heightFeet" value="Feet: "></h:outputLabel>
           <p:inputText value="#{bmiBean.bmi.heightFeet}" id="heightFeet" required="true" requiredMessage="Please enter your feet height."></p:inputText>
            <h:outputLabel for="heightInches" value="Inches: "></h:outputLabel>
           <p:inputText value="#{bmiBean.bmi.heightInches}" id="heightInches" required="true" requiredMessage="Please enter your feet height."></p:inputText>
          <h:outputLabel for="sendBtn"></h:outputLabel>
           <p:commandButton ajax="true" update="messages,growl,weight,heightFeet,heightInches" id="sendBtn" value="Send Message" actionListener="#{bmiBean.calculateBMI}" ></p:commandButton>
       </h:panelGrid>
    </h:form>



<!-- End of content area -->
</h:body>

</f:view>

</html>