<!DOCTYPE html>
	
	<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui">
	
	<!-- The f:view element is required to get certain components to work with webkit based browsers
	(Google Chrome and Safari) -->
	<f:view contentType="text/html">
	
	<h:head>
		<!-- Add support for <meta>, <link>, and <scripts> here -->
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<!-- Change the title of this document!!! -->
		<title>Mortgage Calculator</title>
		
	</h:head>
	
	<h:body>
		<!-- Add your content here -->
		<h2>Mortgage Calculator</h2>
    
    <h:form id="mortgageForm">
       <p:messages id="messages"></p:messages> 
       <p:growl id="growl"></p:growl>
       <h:panelGrid columns="2">
           <h:outputLabel for="amount" value="Mortgage Amount: "></h:outputLabel>
           <p:inputText value="#{loanBean.loan.mortgageAmount}" id="amount" required="true" requiredMessage="Please enter your amount."></p:inputText>
           <h:outputLabel for="interest" value="Interest Rate: "></h:outputLabel>
           <p:inputText value="#{loanBean.loan.annualInterestRate}" id="interest" required="true" requiredMessage="Please enter your interest."></p:inputText>
            <h:outputLabel for="amortization" value="Amortization: "></h:outputLabel>
           <p:inputText value="#{loanBean.loan.amPeriod}" id="amortization" required="true" requiredMessage="Please enter your amortization."></p:inputText>
          <h:outputLabel for="sendBtn"></h:outputLabel>
          
           <p:commandButton ajax="false" update="messages,growl,amount,interest,amortization,basic" id="sendBtn" value="Send Message" actionListener="#{loanBean.calculatePayment}" ></p:commandButton>
       </h:panelGrid>
       
      <p:barChart id="basic" value="#{loanBean.categoryModel}" legendPosition="ne" title="Loan Chart" />  
    
    </h:form>
		
		
		
		
		<!-- End of content area -->
	</h:body>
	
	</f:view>
	
	</html>